@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This is a sample CRUD application using MVC 5. This is presumably being used to see whether 
    the author (Adam) is a suitable canditate for Radfords (he totally is by the way).
</p>
