@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    67 Orkney Road<br />
    Mount Maunganui<br />
    <abbr title="Phone">P:</abbr>
    +64223702446
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:adamron1@hotmail.com">adamron1@hotmail.com</a><br />
</address>